[Unit]
Description=Podman container-homeautomation.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/containers/storage

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=180
TimeoutStopSec=70
ExecStart=/usr/bin/podman start homeautomation
ExecStop=/usr/bin/podman stop -t 10 homeautomation
ExecStopPost=/usr/bin/podman stop -t 10 homeautomation
Type=forking

[Install]
WantedBy=multi-user.target default.target